<html>
<head><meta http-equiv="CONTENT-TYPE" content="text/html"; charset="utf-8">
    <title>welcome to user register system </title>
</head>
<body>
<div>
    {% if result %}
    <p style="color: red">{{result}}</p>
    {%endif%}
    {%if user%}
    <form id="updateForm" action="/update" method="post" accept-charset="UTF-8">
        <input type="hidden" id="id" name="id" value="{{user.id}}">
        <div>
            <label>username:</label>
            <input id="name" type="text" name="name" value="{{user.name}}">
        </div>
        <div>
            <label>email:</label>
            <input id="email" type="text" name="email" value="{{user.email}}">
        </div>
        <div>
            <label>mobile:</label>
            <input id="mobile" type="text" name="mobile" value="{{user.mobile}}">
        </div>
        <div>
            <label>role:</label>
            <select name="role" id="role">
                <option value="admin">system admin</option>
                <option value="user">user</option>
            </select>
        </div>
        <div>
            <label>status:</label>
            <select name="status" id="status">
                <option value=0>normal</option>
                <option value=1>locked</option>
            </select>
        </div>
        <div>
            <button type="submit">update now</button>
            <button>Cancel</button>
        </div>
    </form>
    {%endif%}
</div>
</body>
</html>